@keyframes bounceIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.logo-animation {
  animation: bounceIn 1s ease-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.pulse-animation {
  animation: pulse 2s infinite ease-in-out;
}

.logo-hover-animation {
  transition: transform 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.logo-hover-animation:hover {
  transform: scale(1.1);
  text-shadow: 0 0 15px #00ffcc, 0 0 30px #00ffcc;
}
